body {
background-color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
text-align: center;
}
header {
    font-size: 20px;
    font-weight: normal;
}
header a {
    color: aquamarine;
    font-size: 16px;
}